<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Bloco de Notas</title>
  <link rel="stylesheet" href="/src/view/Styles/Notes/AddNotes.css">
    <link rel="icon" href="/src/view/Img/SiteIcon.png" type="image/png">
</head>
<body>
  <header class="cabecalho">
    <h1>Bloco de Notas</h1>
    
  </header>

    <main class="area-principal">
    
    <div class="menu-lateral">
        <button class="botao-add" title="Nova Nota">+</button>
    </div>

    </main>

</body>
</html>
